body {
    box-sizing: border-box;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
fieldset {
    border: 1px solid #ddd;
}
legend {
    display: inline-block;
    width: auto;
    margin: 0 .5em;
    padding: 0 .5em;
    border-bottom: none;
}
legend, label, button {
    text-transform: capitalize;
}
legend span {
    text-transform: lowercase;
}
small {
  white-space: normal;
}
form, .well, .form-actions {
    border-radius: 0;
    margin-bottom: 0;

    -webkit-border-radius: 0;
    -moz-border-radius: 0;    
}
.required span {
    display: none;
}
.wrp {
    margin-top: 8em;
}
.wrp1 {
    margin-top: 1em;
}
/*error-message*/
.oval {
    border: 1px solid #ddd;
    padding: .6em;
    position: relative;

   -webkit-border-radius: 10em/5em ;
   -moz-border-radius: 10em/5em ;
   border-radius: 10em/5em ;
  
}
.oval:after {
    position: absolute;
    content: '';
   
    border-right: 1em solid #ddd;
    border-top: .5em solid transparent;
    border-left: 1em solid transparent;
    
    bottom: 10px;
    right: 22px;
}
.panel {
    margin-bottom: 21px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 0;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.panel-body {
    padding: 15px;
}
.panel-body:before,
.panel-body:after {
    display: table;
    content: '';
}
.panel-body:after {
    clear: both;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: -1px;
    border-top-left-radius: -1px;
}
.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 17px;
    text-transform: capitalize;
}
.panel-footer {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: -1px;
    border-bottom-left-radius: -1px;
}
.panel-default {
    border-color: #ddd;
}

.panel-default > .panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}
.panel-warning {
    border-color: #ff4309;
}
.panel-warning > .panel-heading {
    color: #fff;
    background-color: #ff7518;
    border-color: #ff4309;
}

/*admin start*/

#modal-editing{
    width: 90%;
    min-height: 400px;
    margin: 0;
    left: 5%;
    top: 0;
}

@media (min-height:769px){
#modal-editing .modal-body{
    max-height: none;
}
}

#modal-editing .modal-body{
    overflow-x: hidden;
}

#modal-editing .edit-shade{
    display: none;
}
#modal-editing .edit-shade.loading{
//  background: url(../img/loading.gif) no-repeat 50% 50%;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.7;
    background-color: white;
    display: block;
}
#page-size {
    cursor:pointer;
}
#check_toggle{
    text-transform: none;
}
#table-user tr.user-active td {
    background-color: #fee ;
}
#table-user tr.user-deleted {
    color: #bbb;
}

tr.user-deleted td.remove a{
    color: #bbb;
    cursor: default;
    text-decoration: none;
}

th a, th a:link, th a:focus, th a:active{
    border: none;
    outline:none;
}

#toggle-deleted {
    display: none;
}
#search-form label {
    display: none;
}
#search-result {
    font-weight: 700;
    color: #fff;
    background-color: #428bca;
    padding: 10px 15px;
}
#search-result-count {
    min-width: 10px;
    padding: 3px 7px; 
    line-height: 1;
    position: relative;
    text-decoration: underline;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    color: #888;
    background-color: #fff;
    border-radius: 3px;
    margin-left: 10px;
}
#search-result-count:before {
    content: '';
    border-right: 6px solid #fff;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    position: absolute;
    top: 6px;
    left: -6px;
}
#horizontalForm .radio label {
    margin-left: 3em;
}
#horizontalForm input[type='radio'] {
    margin-left: 1em;
}
.table-bordered th, .table-bordered td {
    text-align: center;
}
.password_buttons{
    margin-top: -20px;
    margin-bottom: 8px;
}
.generate_pass{
    width: 94px !important;
}
/*order*/
.ui-datepicker-trigger {
    cursor: pointer;
}
#orderInfo .text-order {
    margin-top: 5px;
    margin-left: 180px;
}   
#orderInfo .control-label {
    text-align: left;      
}
#cardInfo .control-label {
    text-align: left;
    width: 200px;
}
#item_result_name,
#item_result_price,
.quantity_of_item {
    line-height: 30px;
}
#ItemForm .control-label {   
    cursor: default;
    text-align: left;
    margin-left: 30px;
}
a.clndr,  a:hover.clndr,  a:visited.clndr,
a.clndr1, a:hover.clndr1, a:visited.clndr1,
a.clndr2, a:hover.clndr2, a:visited.clndr2 {
    color: #000;
}
/*merchandiser*/
a.clndr, a:hover.clndr, a:visited.clndr {
    display: inline-block;
    margin-bottom: 30px;
    height: 20px;
}

/*@madia-query for login-form*/
@media screen and (max-width: 1200px) {
    #login-form {
        width: 570px;
    }
 }
