.grid-footer {
    width: 50%;
    padding-top: 0.1em;
}
.summary {
    display: inline;
    float: left;
}
.yiiPager, .plainPager {
    margin-right: -25%;
    line-height: 100%;
    float: right;
}
.yiiPager li {
    display: inline-block;
    margin: 0 .1em;
    padding: .1em .4em;
}

.plainPager li {
    display: inline-block;
    margin: 0 .1em;
    padding: .1em .4em;
    color: rgb(0, 85, 128);
    background-color: #fff;
    border: 1px solid rgb(0, 85, 128);
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    cursor: pointer;
}
.plainPager li.hidden  {
    padding: .1em .4em;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    visibility: visible;
    color: #aaa;
    cursor: default;
}

.first a, .last a,
.next a, .previous a {
    display: inline-block;
}
.hidden, .first a, .last a,
.next a, .previous a {
    padding: .1em .4em;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
}
.first a:hover, .last a:hover,
.next a:hover, .previous a:hover {
    font: 700;
    color: #fff;
    background-color: #2F96B4;
}
.yiiPager a:link,
.yiiPager a:visited {
    padding: .1em .4em;
    text-decoration: none;
}
.hidden {
    visibility: visible;
    color: #aaa;
    cursor: default;
}
.pager .next > a {
    float: left;
}
#grid-extend {
    float: right;
    margin-bottom: .5em;
}
